<form action="/user/update">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label">Concurso</label>
                    <input type="text" id="nome" name="nome" readonly value="<%if(user){%><%=user.id%><%}%>" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" id="nome" name="nome" value="<%if(user){%><%=user.nome%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="email" name="email" value="<%if(user){%><%=user.email%><%}%>" required class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label id="edital" name="edital" class="control-label">Edital</label>
                    <select id="idedital" name="idedital" required class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <% _.each(editais, function(edital){ %>    
                        <option value="<%edital.id%>" <%if (edital.id = concurso.idedital) {%> selected <%}%>></select> ><%=edital.nome%></option>
                        <%})%>
                    </select>
                </div>
            </div>     
        <div class="form-actions">
            <button type="submit" class="btn btn-green">
                <i class="fa fa-check"></i> Gravar</button>
            <a href="/user" class="btn btn-red">Cancelar</a>
        </div>
    </div>
</form>