<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Concurso</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/concurso/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (concursos && concursos.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(concursos, function(concu){ %>
                    <tr>
                        <td><a href="/edital/view?id=<%=concu.idedital%>" ><%=concu.nome%></a></td>
                        <td><a href="/concurso/resultado?id=<%=concu.id%>" >Ver resultado</a></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Nenhum concurso cadastrado, verifique!</h2>
    <hr>
<%}%>
<script>
</script>