<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/concurso/create">
    <div class="form-body">
        <h2 class="card-title">Cadastrar Concurso</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label id="edital" name="edital" class="control-label">Edital</label>
                    <select id="idedital" name="idedital" required class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option value="0">Selecione uma opção</option>
                        <% _.each(editais, function(edital){ %>    
                        <option value="<%=edital.id%>"><%=edital.nomeedital%></option>
                        <%})%>
                    </select>
                </div>
            </div>        
    </div>

    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Gravar</button>
            <a href="/servidor" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>

</form>