<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title"><%=cb[0].nome%></h2>
    </div>
</div>
<hr>

<% if (cb && cb.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome Usuário</th>
                    <th>N Votos</th>
                </tr>
            </thead>
            <tbody>
                <%_.each(cb, function(valor){ %>
                    <tr>
                        <td><%=valor.nomeu%></a></td>
                        <td><%=valor.count%></a></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Nenhum concurso cadastrado, verifique!</h2>
    <hr>
<%}%>
<script>
</script>