<form action="/user/updateDados" method="POST">
    <div class="form-body">
        <h2 class="card-title">Inicio</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                </div>
            </div>
        </div>
    </div>
</form>