<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <title>ConcursosGabi</title>
  <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/colors/red-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header card-no-border">
  <section id="wrapper" class="error-page">
    <div class="error-box">
      <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">página não encontrada!</h3>
        <p class="text-muted m-t-30 m-b-30">A página que você está procurando não existe!</p>
        <a href="/" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Voltar ao início</a>
      </div>
      <footer class="footer text-center">© 2021 ConcursosGabi</footer>
    </div>
  </section>
  <script src="/plugins/jquery/jquery.min.js"></script>
  <script src="/plugins/bootstrap/js/popper.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/waves.js"></script>
</body>

</html>