<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Visitantes</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/visitante/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (visitantes && visitantes.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Celular</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(visitantes, function(visitante){ %>
                    <tr>
                        <td><%=visitante.nome%></td>
                        <td><%=visitante.cpf%></td>
                        <td><%=visitante.celular%></td>
                        <td><%=visitante.email%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum visitante cadastrada ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>