<form action="/user/update">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label">Usuário</label>
                    <input type="text" id="id" name="id" readonly value="<%if(user){%><%=user.id%><%}%>" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" id="nome" name="nome" value="<%if(user){%><%=user.nome%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Telefone</label>
                    <input type="text" id="telefone" name="telefone" value="<%if(user){%><%=user.nome%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">CPF</label>
                    <input type="text" id="cpf" name="cpf" value="<%if(user){%><%=user.nome%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" id="email" name="email" value="<%if(user){%><%=user.email%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Senha</label>
                    <input type="text" id="password" name="password" value="<%if(user){%><%=user.password%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data de Nascimento</label>
                    <input type="text" id="dtnasci" name="dtnasci" value="<%if(user){%><%=user.dtnascimento%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Admin</label>
                    <div class="switch">
                        <label>
                        <input type="checkbox" id="admin" name="admin" <%if(user && user.ativo){%>checked<%}%>>
                        <span class="lever"></span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Ativo</label>
                    <div class="switch">
                        <label>
                        <input type="checkbox" id="ativo" name="ativo" <%if(user && user.ativo){%>checked<%}%>>
                        <span class="lever"></span></label>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Colaborador</label>
                    <div class="switch">
                        <label>
                        <input type="checkbox" id="is_colaborador" name="is_colaborador" <%if(user && user.ativo){%>checked<%}%>>
                        <span class="lever"></span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-green">
                <i class="fa fa-check"></i> Gravar</button>
            <a href="/user" class="btn btn-red">Cancelar</a>
        </div>
    </div>
</form>