<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Usuários</h2>
    </div>
    <div class="col-md-6" style="text-align: right;">
        <a href="/user/edit" class="btn btn-success">Adicionar</a>
    </div>
</div>

<% if (users.length > 0) { %>

    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Função</th>
                    <th>Ativo</th>
                    <th class="text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(users, function(user){ %>
                    <tr>
                        <td>
                            <%=user.email%>
                        </td>
                        <td>
                            <% if(user.is_admin){%>
                                Administrador
                            <%}else{%>
                                Usuário
                            <%}%>
                        </td>
                        <td>
                            <% if(user.ativo){%>
                                Ativado
                            <%}else{%>
                                Desativado
                            <%}%>
                        </td>
                        <td class="text-nowrap">
                            <a href="/user/edit/<%=user.id%>" data-toggle="tooltip" data-original-title="Editar">
                                <i class="fa fa-pencil text-inverse m-r-10"></i>
                            </a>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Ops, nenhum user cadastrado ou problemas de conexão com o banco de dados, aguarde e recarregue a pagina.</h2>
    <hr>
    <h5>OBS, Se o problema persistir procure o administrador!</h5>
<%}%>