<form action="/edital/u">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label">Edital</label>
                    <input type="text" id="nome" name="nome" readonly value="<%if(edital){%><%=edital[0].edital%><%}%>" class="form-control">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="descricao" name="descricao" value="<%if(edital){%><%=edital[0].descricao%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data de Inicio</label>
                    <input type="text" id="dtinicio" name="dtinicio" value="<%if(edital){%><%=edital[0].dtinicial%><%}%>" required class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Data Final</label>
                    <input type="text" id="dtfinal" name="dtfinal" value="<%if(edital){%><%=edital[0].dtfinal%><%}%>" required class="form-control">
                </div>
            </div>    
        <div class="form-actions">
            <button type="submit" class="btn btn-green">
                <i class="fa fa-check"></i> Gravar</button>
            <a href="/edital" class="btn btn-red">Cancelar</a>
        </div>
    </div>
</form>