<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Edital</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/edital/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>

<% if (editais && editais.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Edital</th>
                    <th>Descrição</th>
                    <th>Data Inicio</th>
                    <th>Data Final</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(editais, function(edital){ %>
                    <tr>
                        <td><%=edital.nomeedital%></td>
                        <td><%=edital.descricao%></td>
                        <td><%=edital.dtinicio%></td>
                        <td><%=edital.dtfinal%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Nenhum edital cadastrado, verifique!.</h2>
    <hr>
<%}%>