<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/edital/create">
    <div class="form-body">
        <h2 class="card-title">Cadastrar Edital</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label"> </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <input type="text" id="nomeedital" name="nomeedital" class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" required>
                </div>
            </div>      
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Data de Inicio</label>
                    <input type="text" id="dtinicio" name="dtinicio" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Data Final</label>
                    <input type="text" id="dtfinal" name="dtfinal" class="form-control" required>
                </div>
            </div>          
        </div>
    </div>
    
    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Gravar</button>
            <a href="/edital" class="btn btn-red">Cancelar</a>
        </div>
    </div>
</form>