<form action="/inscricao/new">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Edital: </label>
                    <input hidden type="text" id="nome" name="nome" readonly value="<%if(edital){%><%=edital.nomeedital%><%}%>" class="form-control">
                    <label class="control-label"><%if(edital){%><%=edital[0].nomeedital%><%}%></label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Descrição: </label>
                    <input hidden type="text" id="descricao" name="descricao" value="<%if(edital){%><%=edital.descricao%><%}%>" required class="form-control">
                    <label class="control-label"><%if(edital){%><%=edital[0].descricao%><%}%></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Data de Inicio: </label>
                    <input hidden type="text" id="dtinicio" name="dtinicio" value="<%if(edital){%><%=edital.dtinicio%><%}%>" required class="form-control">
                    <label class="control-label"><%if(edital){%><%=edital[0].dtinicio%><%}%></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Data Final: </label>
                    <input hidden type="text" id="dtfinal" name="dtfinal" value="<%if(edital){%><%=edital.dtfinal%><%}%>" required class="form-control">
                    <label class="control-label"><%if(edital){%><%=edital[0].dtfinal%><%}%></label>
                </div>
            </div> 
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label"></label>
                </div>
            </div>    
        <div class="form-actions">
            <button type="submit" class="btn btn-green"> Increver me</button>
            <a href="/concurso" class="btn btn-red">Voltar</a>
        </div>
    </div>
</form>