<form action="/inscricao/create">
    <div class="form-body">
        <div class="row p-t-20">
            <div class="col-md-1">
                <div class="form-group">
                    <label class="control-label">Id</label>
                    <input type="text" id="id" name="id" readonly value="<%if(inscricao[0]){%><%=inscricao[0].id%><%}%>" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Id Usuario</label>
                    <input readonly type="text" id="iduser" name="iduser" value="<%if(inscricao[0]){%><%=inscricao[0].iduser%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label class="control-label">Arquivo</label>
                    <input type="text" id="arquivo" name="arquivo" value="<%if(inscricao[0]){%><%=inscricao[0].arquivo%><%}%>" required class="form-control">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="descricao" name="descricao" value="<%if(inscricao[0]){%><%=inscricao[0].descricao%><%}%>" required class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label id="concurso" name="concurso" class="control-label">concurso</label>
                    <select id="idconcurso" name="idconcurso" required class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <% _.each(concurso, function(concu){ %>    
                        <option value="<%=concu.id%>" <%if (concu.id = inscricao[0].idconcurso) {%> selected <%}%>><%=concu.nome%></option>
                        <%})%>
                    </select>
                </div>
            </div>  
            <div class="col-md-8">
            </div>  
            <div class="col-md-6">   
                <div class="form-actions">
                    <button type="submit" class="btn btn-green">
                        <i class="fa fa-check"></i> Gravar</button>
                    <a href="/inscricao" class="btn btn-red">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>