<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Inscrições</h2>
    </div>
</div>
<hr>

<% if (inscricoes.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Concurso</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <% _.each(inscricoes, function(inscricao){ %>
                    <tr>
                        <td><%=inscricao.id%></td>
                        <% _.each(concursos, function(concurso){ %>
                            <%if ( inscricao.idconcurso == concurso.id ) {%>
                                <td><%=concurso.nome%></td>
                                <td><a href="/inscricao/edit?id=<%=inscricao.id%>"><i class="fa fa-edit"></i></a></button></td>
                            <%}%>
                        <%})%>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<%}else{%>
    <hr>
    <h2>Nenhuma inscrição cadastrada, verifique!.</h2>
    <hr>
<%}%>