<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/inscricao/create">
    <div class="form-body">
        <h2 class="card-title">Cadastro de Inscrição</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-4">
                <div class="form-group">
                    <label id="concurso" name="concurso" class="control-label">Concurso</label>
                    <select id="idconcurso" name="idconcurso" required class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option >Selecione Uma</option>
                        <% _.each(concursos, function(concurso){ %>    
                        <option value="<%=concurso.id%>"><%=concurso.nome%></option>
                        <%})%>
                    </select>
                </div>
            </div>   
            <div class="col-md-8">
                <div class="form-group">
                    <label class="control-label">Arquivo</label>
                    <input type="text" id="arquivo" name="arquivo" class="form-control" required>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Descrição</label>
                    <input type="text" id="descricao" name="descricao" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row p-t-20"></div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Gravar</button>
                <a href="/inscricao/index" class="btn btn-inverse">Cancelar</a>
            </div>
        </div>
    </div>
</form>