<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Resultados</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/resultados/new" class="btn btn-success">Adicionar</a>
    </div>
</div>
<hr>
<form method="GET" action="/ocorrencias">
    <div class="row p-t-20">
        <div class="col-md-2">
            <h3 class="card-title">Concursos</h3>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <select id="concurso" name="concurso" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                    <option value="" selected>Selecione um concurso</option>
                    <% if (concurso) {%>
                        <% _.each(concurso, function(concurso){ %>    
                            <option value="<%=concurso.nome%>"><%=concurso.nome%></option>
                        <% }) %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label"> </label>
                <button type="submit" style="float: right;" class="btn btn-success">Pesquisar</button>
            </div>
        </div>
    </div>
    </form>
    <hr>

<% if (resultados && resultados.length > 0) { %>
    
    <div class="table-responsive">
        <table id="indexTableASC" class="indexTableASC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Concurso</th>
                    <th>Numero de Votos</th>
                    <th>Id Ganhador</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(resultados, function(resultados){ %>
                    <tr>
                        <td><%=resultados.idconcurso%></td>
                        <td><%=resultados.numero_votos%></td>
                        <td><%=resultados.idganhador%></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>

<% } else{ %>
    <hr>
    <h2>Nenhum resultado encontrado, verifique!</h2>
    <hr>
<% } %>