<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/votacao/create">
    <div class="form-body">
        <h2 class="card-title">Cadastro de Votos</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <select id="idconcurso" name="idconcurso" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option value="" selected>Selecione um concurso</option>
                        <% if (concurso) {%>
                            <% _.each(concurso, function(concurso){ %>    
                                <option value="<%=concurso.id%>"><%=concurso.nome%></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <select id="iduser" name="iduser" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                        <option value="" selected>Selecione o user</option>
                        <% if (user) {%>
                            <% _.each(user, function(usuario){ %>    
                                <option value="<%=usuario.id%>"><%=usuario.nome%></option>
                            <% }) %>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>  
    </div>

    <div class="form-body">
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Gravar</button>
            <a href="/concurso" class="btn btn-inverse">Cancelar</a>
        </div>
    </div>
</form>